.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.mapDashboard {
  height: 100%
}
.logo_legend {
  position: fixed;
  padding: 0px;
  top: 1em;
  right: -4em;
  height: 200px;
  width: 200px;

}
.logo img {
  max-height:50%;
  max-width:50%;
}

.legend {
  float: left;
  max-height:50%;
  max-width: 100%;
  background: #eee;

}

.legend ul {
  list-style-type: none;
  float: left;
  padding-left: 0px;
}
.legend li {
  margin-bottom: 6px;
}

.sidebarStyles {
  background-color: teal;
}

#basic-addon2 {
  width : 100px;
}

#basic-addon1 {
  width : 100px;
}

.Hero > button {
  width: 100%;
  text-align: left;
  overflow: hidden;
}

.dropdown-heading-dropdown-arrow {
  border-block-color: #007bff;
}

.css-1okebmr-indicatorSeparator {
  visibility: hidden;
}

.list-group-item.list-group-item-info {
  padding : .5rem 1.25rem;
  /* background-color: #BEBBB1; */
  /* background-color: #b2b2b2; */
  /* background-color: #e9ebee; */
  background-color: #d3d3d3;
}

.legend-right {
  top: 60px;
  right: 10px;
  float: right;
  position: relative;
  /* z-index: 1000003; */
  /* padding: 5px; */
  /* border: 2px; */
  /* background-color: burlywood; */
  /* opacity: 50%; */
}

table tr td {
  vertical-align: inherit !important;
  font-size: 12px;
}

.table.table-light.table-bordered {
  line-height: 1em;
  background-color: white;
  border: 2px solid black;
  opacity: 70%;
  padding: 0em;
  vertical-align: inherit;
}

.circle-div {
  /* background-color: red; */
  border-radius: 5px;
  width: 10px;
  height: 10px;
  vertical-align: inherit;
}

.range-div {
  width : 100px;
}

.styled-toast-success {
  border-radius: 10px !important;
  background-color: #17a2b8  !important;
  color: white !important;
  font-family: inherit !important;
}