.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.mapDashboard {
  height: 100%
}
.logo_legend {
  position: fixed;
  padding: 0px;
  top: 1em;
  right: -4em;
  height: 200px;
  width: 200px;

}
.logo img {
  max-height:50%;
  max-width:50%;
}

.legend {
  float: left;
  max-height:50%;
  max-width: 100%;
  background: #eee;

}

.legend ul {
  list-style-type: none;
  float: left;
  padding-left: 0px;
}
.legend li {
  margin-bottom: 6px;
}

.sidebarStyles {
  background-color: teal;
}

#basic-addon2 {
  width : 100px;
}

#basic-addon1 {
  width : 100px;
}

.Hero > button {
  width: 100%;
  text-align: left;
  overflow: hidden;
}

.dropdown-heading-dropdown-arrow {
  border-block-color: #007bff;
}

.css-1okebmr-indicatorSeparator {
  visibility: hidden;
}

.list-group-item.list-group-item-info {
  padding : .5rem 1.25rem;
}

.styled-toast-success {
  border-radius: 10px !important;
  background-color: #17a2b8  !important;
  color: white !important;
  font-family: inherit !important;
}